{% extends "base.html" %}

{% block content %}
    <section class="animated-item">
        <h2>bem-vindo ao nosso site sobre fundamentos de python!</h2>
        <p>
            este projeto foi desenvolvido para a disciplina de introdução à programação do centro universitário uniesp.
            aqui você vai encontrar informações sobre os conceitos básicos de python, de um jeito simples e direto.
        </p>
        <p>
            use o menu para navegar pelos tópicos, tirar dúvidas com nossa inteligência artificial ou consultar e adicionar termos ao nosso dicionário colaborativo.
        </p>
    </section>
    <section class="animated-item">
        <h3>o que você vai encontrar:</h3>
        <ul>
            <li>explicações sobre os fundamentos da programação em python.</li>
            <li>uma seção para tirar dúvidas usando a api do gemini.</li>
            <li>um dicionário interativo de termos de programação.</li>
            <li>tudo isso feito com o framework flask.</li>
        </ul>
    </section>
{% endblock %}